<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback | <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <p>Night Out Feedback</p>
        </div>
        <ul>
            <li><a href="/index">All Feedback</a></li>
            <li><a href="/create">New Feedback</a></li>
        </ul>
    </nav>

    <div class="not-found content">
        <h2>Oops! Page not found!</h2>
    </div>
</body>
</html>